<div class="navbar">
  <app-navbar></app-navbar>
</div>
<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let good of goods">
        <div class="card">
          <div class="imgBx">
            <img [src]="good.photoUrl" />
          </div>
          <div class="contentBx">
            <h3>{{ good.name }}</h3>
            <h2 class="price">{{ good.price | currency }}</h2>
            <div class="btns">
              <button class="btn" (click)="addToCart(goods.id)">
                <i class="fa fa-shopping-cart"></i>
              </button>
              <button class="btn">
                <i class="fa fa-heart-o"></i>
              </button>
            </div>
            <a href="#" class="buy">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
